<!DOCTYPE html>
<html>
<head>
  <title>Pos</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>




  <header>
    <nav>
      <ul>
        <li><%= link_to('Inicio', root_path ) %></li>
        <% if (user_signed_in?)%>
        <li><%= link_to('Edit profile', edit_user_registration_path(current_user) ) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete  ) %></li>

        <% else %>
        <li><%= link_to('Login', new_user_session_path ) %></li>
        <li><%= link_to('Register', new_user_registration_path ) %></li>
        <% end %>

      </ul>
    </nav>
  </header>
  



  <div class="content wrapper">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </div>


</body>
</html>
